
:root,
:root .easy-bpmn-designer-theme-light {
  --easy-bpmn-designer-bg-color: #fff;
  --easy-bpmn-designer-border-color: #eee;
  --easy-bpmn-designer-text-color: #333;
  --easy-bpmn-designer-text-placeholder-color: #adb5bd;


  --easy-bpmn-designer-button-bg-color: #fafafa;
  --easy-bpmn-designer-button-border-color: #eee;
  --easy-bpmn-designer-button-hover-bg-color: #eee;
  --easy-bpmn-designer-button-hover-border-color: #ccc;

  --easy-bpmn-designer-input-bg-color:#fff;
  --easy-bpmn-designer-input-border-color:#e9e9e9;
  --easy-bpmn-designer-input-focus-bg-color:#fff;
  --easy-bpmn-designer-input-focus-border-color:#e9e9e9;


  --easy-bpmn-designer-popover-bg-color:#fff;
  --easy-bpmn-designer-popover-border-color:#e9e9e9;
  --easy-bpmn-designer-popover-title-color:#666;
  --easy-bpmn-designer-popover-selected-color:#eee;


  --easy-bpmn-designer-menus-text-color: var(--easy-bpmn-designer-text-color);
  --easy-bpmn-designer-menus-bg-color: #ffffff;
  --easy-bpmn-designer-menus-svg-color: #333;
  --easy-bpmn-designer-menus-item-hover-color: #eee;
  --easy-bpmn-designer-menus-divider-color: #333;
  --easy-bpmn-designer-menus-table-cell-border-color: #ccc;
  --easy-bpmn-designer-menus-table-cell-border-active-color: #000;
  --easy-bpmn-designer-menus-tip-bg-color: #333;
  --easy-bpmn-designer-menus-tip-text-color: #eee;

  --easy-bpmn-designer-content-pre-bg-color: #f6f6f7;
  --easy-bpmn-designer-content-blockquote-bg-color: #f6f6f7;
  --easy-bpmn-designer-content-blockquote-border-color: #e3e3e3;
  --easy-bpmn-designer-content-blockquote-text-color: #888888;
  --easy-bpmn-designer-content-container-info-color: #eff1f3;
  --easy-bpmn-designer-content-container-warning-color: #fcf5e4;
  --easy-bpmn-designer-content-container-danger-color: #ffe7ea;
  --easy-bpmn-designer-content-table-th-bg-color: #efefef;
  --easy-bpmn-designer-content-table-selected-bg-color: rgba(200,200,255,0.3);
  --easy-bpmn-designer-content-table-border-color: #ced4da;
  --easy-bpmn-designer-content-table-handler-color: #adf;
  --easy-bpmn-designer-content-scrollbar-track-piece:#f1f1f1;
  --easy-bpmn-designer-content-scrollbar-thumb:#c1c1c1;
  --easy-bpmn-designer-content-scrollbar-thumb-hover:#a9a9a9;
  --easy-bpmn-designer-content-scrollbar-thumb-active:#787878;
  --easy-bpmn-designer-content-link-a-color:blue;
  --easy-bpmn-designer-content-link-a-hover-color:red;
  --easy-bpmn-designer-content-link-a-visited-color:purple;
  --easy-bpmn-designer-content-link-a-active-color:green;

  --easy-bpmn-designer-panel-header-bg-color: #f0f2f5;
  --easy-bpmn-designer-panel-header-svg: #000;
  --easy-bpmn-designer-panel-content-item-label: #606266;
  --easy-bpmn-designer-panel-content-item-header-bg-color: #f0f2f5;
  --easy-bpmn-designer-panel-content-item-header-text-color: #1f2f3d;
  --easy-bpmn-designer-panel-toggle-hover: #e6e8eb;
  --easy-bpmn-designer-panel-toggle-color: #f0f2f5;
}

:root .easy-bpmn-designer-theme-dark {

  --easy-bpmn-designer-text-color: #ccc;
  --easy-bpmn-designer-border-color: #333;
  --easy-bpmn-designer-text-placeholder-color: #777;
  --easy-bpmn-designer-bg-color: #1e2022;


  --easy-bpmn-designer-button-bg-color: #333;
  --easy-bpmn-designer-button-border-color: #606060;
  --easy-bpmn-designer-button-hover-bg-color: #606060;
  --easy-bpmn-designer-button-hover-border-color: #606060;

  --easy-bpmn-designer-input-bg-color:#505050;
  --easy-bpmn-designer-input-border-color:#666;
  --easy-bpmn-designer-input-focus-bg-color:#505050;
  --easy-bpmn-designer-input-focus-border-color:#999;


  --easy-bpmn-designer-popover-bg-color:#2A2A2B;
  --easy-bpmn-designer-popover-border-color:#505050;
  --easy-bpmn-designer-popover-title-color:#ccc;
  --easy-bpmn-designer-popover-selected-color:#505050;


  --easy-bpmn-designer-menus-text-color: var(--easy-bpmn-designer-text-color);
  --easy-bpmn-designer-menus-bg-color: #1a1b1e;
  --easy-bpmn-designer-menus-svg-color: #cccccc;
  --easy-bpmn-designer-menus-item-hover-color: #505050;
  --easy-bpmn-designer-menus-divider-color: #cccccc;
  --easy-bpmn-designer-menus-table-cell-border-color: #888;
  --easy-bpmn-designer-menus-table-cell-border-active-color: #ccc;
  --easy-bpmn-designer-menus-tip-bg-color: #eee;
  --easy-bpmn-designer-menus-tip-text-color: #333;

  --easy-bpmn-designer-content-pre-bg-color: #282c34;
  --easy-bpmn-designer-content-blockquote-bg-color: #282c34;
  --easy-bpmn-designer-content-blockquote-border-color: #505050;
  --easy-bpmn-designer-content-blockquote-text-color: #888888;
  --easy-bpmn-designer-content-container-info-color: #2a2c30;
  --easy-bpmn-designer-content-container-warning-color: #40361d;
  --easy-bpmn-designer-content-container-danger-color: #46222a;
  --easy-bpmn-designer-content-table-th-bg-color: #2c2c2c;
  --easy-bpmn-designer-content-table-selected-bg-color: rgba(200,200,255,0.2);
  --easy-bpmn-designer-content-table-border-color: #353535;
  --easy-bpmn-designer-content-table-handler-color: #566a77;
  --easy-bpmn-designer-content-scrollbar-track-piece:#404040;
  --easy-bpmn-designer-content-scrollbar-thumb:#dddddd50;
  --easy-bpmn-designer-content-scrollbar-thumb-hover:#dddddd70;
  --easy-bpmn-designer-content-scrollbar-thumb-active:#dddddda0;
  --easy-bpmn-designer-content-link-a-color:rgb(76, 163, 245);
  --easy-bpmn-designer-content-link-a-hover-color:rgb(255, 79, 79);
  --easy-bpmn-designer-content-link-a-visited-color:rgb(255, 0, 255);
  --easy-bpmn-designer-content-link-a-active-color:rgb(0, 255, 0);

  --easy-bpmn-designer-panel-header-bg-color: #515157;
  --easy-bpmn-designer-panel-header-svg: #fffefe;
  --easy-bpmn-designer-panel-content-item-label: #fff;
  --easy-bpmn-designer-panel-content-item-header-bg-color: #515157;
  --easy-bpmn-designer-panel-content-item-header-text-color: #dddddda0;
  --easy-bpmn-designer-panel-toggle-hover: rgba(197, 197, 197, 0.63);
  --easy-bpmn-designer-panel-toggle-color: #c6c6d1;
}
