.easy-bpmn-designer-container-designer {
    flex: 1;
    display: flex;

    .djs-palette {
        background: transparent;
        border: 1px solid var(--easy-bpmn-designer-border-color) !important;
        border-radius: 4px;
        top: 50px !important;
        left: 1px !important;

        .entry, .djs-palette .djs-palette-toggle {
            color: var(--easy-bpmn-designer-text-color);
        }

        .entry:hover, .djs-palette .djs-palette-toggle:hover{
            color: var(--palette-entry-hover-color);
        }

        &:hover {
            background: var(--easy-bpmn-designer-bg-color) !important;
        }
    }

    .djs-container {
        background-color: transparent !important;

        .djs-popup {
            color: var(--easy-bpmn-designer-text-color);
            background-color: var(--easy-bpmn-designer-bg-color);

            .entry.selected {
                background-color: var(--easy-bpmn-designer-context-pad-selected-color);
            }

            button.entry {
                color: var(--easy-bpmn-designer-text-color);
            }
        }

        .djs-popup-body {
            .entry-header {
                color: var(--easy-bpmn-designer-text-color);
            }

            .entry {
                color: var(--easy-bpmn-designer-text-color);
            }
        }

        .djs-popup-search input {
            border-color: var(--easy-bpmn-designer-input-border-color);
            background-color: var(--easy-bpmn-designer-input-bg-color);
            transition: all .1s cubic-bezier(0,0,1,1);

            &:hover {
                background-color: var(--easy-bpmn-designer-bg-color);
            }
        }

    }

    .djs-context-pad .entry {
        background-color: transparent;
        box-shadow: 0 0 0 0;

        &:hover {
            background-color: var(--easy-bpmn-designer-border-color);
        }
    }

    .djs-minimap {
        div.toggle {
            display: none;
        }
        right: unset;
        top: unset;
        left: 80px;
        bottom: 10px;

        .map {
            width: 250px;
            height: 150px;
        }
    }

    /* 添加模拟器相关样式 */
    .bts-toggle-mode {
        display: none !important;
    }

    .bts-simulation-header {
        background: linear-gradient(to right, #f8f9fa, #fff) !important;
        padding: 8px 16px !important;

        button {
            background: transparent !important;
            border: 1px solid !important;
            border-radius: 4px !important;
            padding: 4px 8px !important;
            transition: all 0.3s !important;

            .active {
                color: white !important;
            }
        }

        button:hover {
        }

    }

    .token-simulation-palette {
        border: none !important;
        background: transparent !important;
        box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1) !important;
        border-radius: 8px !important;
        padding: 8px !important;
    }

    .token-simulation-palette button {
        border-radius: 4px !important;
        transition: all 0.3s !important;
    }

    .token-simulation-palette button:hover {
    }
}

.djs-palette-column {
    .djs-palette.two-column.open {
        width: 47px;
    }
}