.easy-bpmn-designer-container-designer {
    flex: 1;
    display: flex;

    .djs-palette {
        background: transparent;
        border: 1px solid var(--easy-bpmn-designer-border-color) !important;
        border-radius: 4px;
        top: 50px !important;
        left: 1px !important;

        .entry, .djs-palette .djs-palette-toggle {
            color: var(--easy-bpmn-designer-text-color);
        }

        .entry:hover, .djs-palette .djs-palette-toggle:hover{
            color: var(--palette-entry-hover-color);
        }

        &:hover {
            background: var(--easy-bpmn-designer-bg-color) !important;
        }
    }

    .djs-container {
        background-color: transparent !important;
        /* 去除画布聚集后的边框 */
        svg:focus {
            outline: none;
        }
        .djs-popup {
            color: var(--easy-bpmn-designer-text-color);
            background-color: var(--easy-bpmn-designer-bg-color);

            .entry.selected {
                background-color: var(--easy-bpmn-designer-context-pad-selected-color);
            }

            button.entry {
                color: var(--easy-bpmn-designer-text-color);
            }
        }

        .djs-popup-body {
            .entry-header {
                color: var(--easy-bpmn-designer-text-color);
            }

            .entry {
                color: var(--easy-bpmn-designer-text-color);
            }
        }

        .djs-popup-search input {
            border-color: var(--easy-bpmn-designer-input-border-color);
            background-color: var(--easy-bpmn-designer-input-bg-color);
            transition: all .1s cubic-bezier(0,0,1,1);

            &:hover {
                background-color: var(--easy-bpmn-designer-bg-color);
            }
        }
        /*颜色选择器*/
        .color-picker .entry {
            margin: 0;
        }
        .color-picker .djs-popup-group {
            display: grid;
            grid: auto-flow / 1fr 1fr 1fr;
        }

    }

    .djs-context-pad .entry {
        background-color: transparent;
        box-shadow: 0 0 0 0;
        color: var(--easy-bpmn-designer-text-color);
        &:hover {
            background-color: var(--easy-bpmn-designer-border-color);
        }
    }

    .djs-minimap {
        div.toggle {
            display: none;
        }
        right: unset;
        top: unset;
        left: 80px;
        bottom: 10px;

        .map {
            width: 250px;
            height: 150px;
        }
    }
}

.djs-palette-column {
    .djs-palette.two-column.open {
        width: 47px;
    }
}
