.djs-element.selected .djs-outline {
    stroke: transparent;
}

.success.djs-shape .djs-visual> :nth-child(1) {
    fill: #eaff8f !important;
    stroke: #52c41a !important;
    fill-opacity: 0.2 !important;
}

.success.djs-connection .djs-visual> :nth-child(2) {
    stroke: #52c41a !important;
}

.process.djs-shape .djs-visual> :nth-child(1) {
    fill: #91caff !important;
    stroke: #4096ff !important;
    fill-opacity: 0.2 !important;
    stroke-dasharray: 4, 4;
    animation: dash 100s linear;
}

.process.djs-connection .djs-visual> :nth-child(2) {
    stroke: #4096ff !important;
}

@keyframes dash {
    to {
        stroke-dashoffset: 1500;
    }
}

.danger.djs-shape .djs-visual> :nth-child(1) {
    fill: #ffa39e !important;
    stroke: #ff4d4f !important;
    fill-opacity: 0.2 !important;
}

.danger.djs-connection .djs-visual> :nth-child(2) {
    stroke: #ff4d4f !important;
}

.warning.djs-shape .djs-visual> :nth-child(1) {
    fill: #ffd591 !important;
    stroke: #ffa940 !important;
    fill-opacity: 0.2 !important;
}

.warning.djs-connection .djs-visual> :nth-child(2) {
    stroke: #ffa940 !important;
}

.cyan.djs-shape .djs-visual> :nth-child(1) {
    fill: #87e8de !important;
    stroke: #36cfc9 !important;
    fill-opacity: 0.2 !important;
}
.warning.djs-connection .djs-visual> :nth-child(2) {
    stroke: #36cfc9 !important;
}

.purple.djs-shape .djs-visual> :nth-child(1) {
    fill: #d3adf7 !important;
    stroke: #9254de !important;
    fill-opacity: 0.2 !important;
}
.warning.djs-connection .djs-visual> :nth-child(2) {
    stroke: #9254de !important;
}

.solon-flow-bpmn-viewer-container-toolbar {
    width: auto;
    border: 2px dashed #cdc3c3;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 5px 5px;

    svg {
        margin: 5px 15px 0 15px;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }
}
